*{
    margin: 0;
    padding: 0;

    

}

.top{
    background-color: rgb(0, 195, 220);
    height: 170px;

}

.navbar{
    background-color: rgb(250, 150, 0);
    height: 50px;

}

.logo{
    margin: 35px;
    height: 100px;
}

ul li{
    list-style: none;
    display: inline-block   ;
    line-height: 50px;
}

ul li a{
    display: block;
    text-decoration: none;
    font-size: 18px;
    font-family:Century Gothic;
    color: white;
    padding: 0 15px;
}

ul li a:hover{
    color: rgb(0, 195, 220);
}
.bottom {
    position: absolute;
    bottom: -1500px;
    height: 100px;
    background-color:rgb(0, 195, 220);
    width: 100%;
    text-align: center;
    font-size: 30px;
}

.dog1 {
    margin: 0;
    padding: 0;
    top: 400px;
    width: 30%;
    left: 670px;
    position: absolute;
}

h1{
    top: 300px;
    position: absolute;
    left: 700px;
    font-size: 40px;
    
}

h2{
    top: 800px;
    position: absolute;
    left: 100px;
    font-size: 30px;
}

.dog {
    margin: 0;
    padding: 0;
    top: 900px;
    width: 200px;
    left: 300px;
    position: absolute;
}


.height{
    margin: 0;
    padding: 0;
    top: 1100px;
    width: 199px;
    left: 300px;
    position: absolute;
}

.life{
    margin: 0;
    padding: 0;
    top: 1350px;
    width: 199px;
    left: 300px;
    position: absolute;
}


.weight{
    margin: 0;
    padding: 0;
    top: 1580px;
    width: 199px;
    left: 300px;
    position: absolute;
}

.breed{
    top: 950px;
    font-size: 30px;
    position: absolute;
    left: 550px;
}

.hei{
    top: 1200px;
    font-size: 30px;
    position: absolute;
    left: 550px;
}

.heart{
    top: 1400px;
    font-size: 30px;
    position: absolute;
    left: 550px;
}
.pound{
    top: 1650px;
    font-size: 30px;
    position: absolute;
    left: 550px;
}

